.index {
  position: relative;

  .el-header {
    width: 100%;
    line-height: 60px;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    padding: 0 25px;
    position: fixed;
    left: 0;
    top: 0;
    background: #fff;
    z-index: 99;
    font-size: 12px;

    .left {
      float: left;
      overflow: hidden;

      .logo {
        float: left;
        margin-right: 100px;
        font-size: 14px;
      }

      img {
        width: auto;
        height: 38px;
        margin-top: 13px;
        float: left;

      }

      span {
        font-size: 18px;
        margin-left: 5px;
        float: left;
      }

      .el-menu-demo {
        float: left;
      }
    }

    .right {
      float: right;
      color: #888;

      .user-img {
        padding-top: 12px;

        img {
          height: 35px;
          border-radius: 50%;
          margin-right: 5px;

        }
      }

      span {
        float: left;
      }
    }
  }

  .el-main {
    margin-top: 60px;
    padding: 0;
  }
}
