<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>纵向经费到账列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/IMIS/libs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/IMIS/libs/bootstrap/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="/IMIS/libs/mCustomScrollbar/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="/IMIS/libs/ztree/metroStyle/metroStyle.css"/>
    <link rel="stylesheet" href="/IMIS/libs/iconfont/iconfont.css"/>
    <!--[if lt IE 9]>
    <script src="/IMIS/libs/html5shiv.js"></script>
    <script src="/IMIS/libs/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <script src="/IMIS/libs/jquery-1.11.1.min.js"></script>
    <script src="/IMIS/libs/jquery.placeholder.min.js"></script>
    <script src="/IMIS/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/IMIS/libs/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/IMIS/libs/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/IMIS/libs/ztree/jquery.ztree.all.min.js"></script>
    <script src="/IMIS/libs/avalon.min.js"></script>

    <script src="/IMIS/js/pager.js"></script>
    <script src="/IMIS/js/main.js"></script>
    <script src="/IMIS/js/get_connect/code.js"></script>
    <script src="/IMIS/js/get_connect/connect_http.js"></script>
    <script src="/IMIS/js/get_connect/return_data.js"></script>

    <script>
        document.write(' <link rel="stylesheet" href="/IMIS/css/child_pages.css?time='+ new Date().getTime() +'"/>');
        document.write(' <script src="/IMIS/js/项目经费管理/纵向经费管理/经费到账列表.js?time=' + new Date().getTime() + '"></s' + 'cript>');
    </script>

</head>
<body ms-controller="root" class="ms-controller" onload="IFrameResize()">
<div class="page-xueShu page-table page-common page-paper">
    <div class="main">
        <a class="btn btn-default btn-back" onclick="javascript:history.back(-1);" href="javascript:;">返回上一级</a>
        <h4 class="title">纵向项目经费到账列表</h4>
        <div class="screen-box">
            <div class="form-inline">
                <div class="form-group input-box">
                    <div class="input-group">
                        <div class="input-group-addon">项目名称</div>
                        <input type="text" class="form-control" ms-duplex="@title" ms-keydown="@submit">
                    </div>
                </div>
                <div class="form-group input-box">
                    <div class="input-group">
                        <div class="input-group-addon">经办人姓名</div>
                        <input type="text" class="form-control name" ms-duplex="@name" ms-keydown="@submit">
                    </div>
                </div>
                <div class="form-group input-box">
                    <div class="input-group">
                        <div class="input-group-addon">拨款单位</div>
                        <input type="text" class="form-control from-company" ms-duplex="@fromCompany" ms-keydown="@submit">
                    </div>
                </div>
                <div class="form-group input-box">
                    <div class="input-group">
                        <div class="input-group-addon">到账单位</div>
                        <input type="text" class="form-control reach-company" ms-duplex="@reachCompany" ms-keydown="@submit">
                    </div>
                </div>
                <div class="form-group input-box">
                    <div class="input-group">
                        <div class="input-group-addon">状态</div>
                        <select class="form-control state" ms-duplex="@req.状态" ms-on-change="@state">
                            <option value="">全部</option>
                            <option value="0">未完成</option>
                            <option value="1">已完成</option>
                        </select>
                    </div>
                </div>
                <div class="form-group input-box">
                    <div class="input-group">
                        <div class="input-group-addon">到账时间</div>
                        <input type="text" class="form-control form-time" ms-duplex="@startTime" placeholder="开始">
                        <input type="text" class="form-control form-time" ms-duplex="@endTime" placeholder="结束">
                    </div>
                </div>
                <a class="btn btn-primary btn-search" href="javascript:;" ms-on-click="@search()">查询</a>
                <div class="total-box">
                    总计：<strong>{{@total}}</strong> 条
                    <button type="button" class="btn btn-success btn-refresh">刷新</button>
                </div>
            </div>
        </div>
        <div class="personnel-box">
            <div class="personnel-list">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="checkbox-box">
                                <div class="checkbox">
                                    <label class="bs-tooltip" href="javascript:;" title="全选" data-toggle="tooltip"
                                           data-placement="bottom">
                                        <input class="select-all" type="checkbox" ms-duplex-checked="@allchecked"
                                               data-duplex-changed="@checkAll"/>
                                    </label>
                                </div>
                            </th>
                            <th width="80">序号</th>
                            <th>项目名称</th>
                            <th>项目编号</th>
                            <th>经办人</th>
                            <th>拨款单位</th>
                            <th>到账金额（元）</th>
                            <th>到账单位</th>
                            <th>到账日期</th>
                            <th>审核进度</th>
                            <th>当前状态</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ms-for="($index,el) in @model" ms-if="@loaded && @model!= null && @model.length != 0">
                            <td class="checkbox-box">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="item-checkbox" ms-duplex-checked="el.checked"
                                               data-duplex-changed="@checkOne"/>
                                    </label>
                                </div>
                            </td>
                            <td>{{$index+1}}</td>
                            <td class="text-left">{{el.项目名称}}</td>
                            <td>{{el.项目编号}}</td>
                            <td>{{el.经办人姓名}}</td>
                            <td>{{el.拨款单位}}</td>
                            <td>{{el.到账金额|currency}}</td>
                            <td>{{el.到账单位}}</td>
                            <td>{{el.到账日期|date("yyyy-MM-dd")}}</td>
                            <td>{{el.审核进度}}</td>
                            <td ms-class="getClass(el.步骤状态说明)">{{el.步骤名称==null?'':el.步骤名称}}-{{el.步骤状态说明==null?'':el.步骤状态说明}}</td>
                            <td class="operation">
                                <li class="bs-tooltip" ms-class="getStatusClass(el.步骤链接名称
)" data-toggle="tooltip" data-placement="bottom" ms-attr="{'title':@el.步骤名称}" ms-if="@el.是否可处理">
                                    <a data-toggle="modal" data-target=".modal-add"
                                       ms-attr="{'href':@getUrl(@el.步骤链接路径)}"
                                       ms-on-click="@info(el),@clickBtnEdit(el)" onclick="changeUrl(this)">
                                        <i class="icon iconfont" ms-class="@el.步骤链接样式"></i>
                                    </a>
                                </li>
                                <!--<li class="bs-tooltip btn-batchPrinting" data-toggle="tooltip"-->
                                    <!--data-placement="bottom" title="打印" ms-if="@el.状态==1">-->
                                    <!--<a href="javascript:;" ms-on-click="@info(el),@clickBtnEdit(el)">-->
                                        <!--<i class="icon iconfont icon-dayin2"></i>-->
                                    <!--</a>-->
                                <!--</li>-->
                                <li class="bs-tooltip btn-details" data-toggle="tooltip" data-placement="bottom"
                                    title="项目详情">
                                    <a href="javascript:;" data-toggle="modal" data-target=".modal-details"
                                       ms-on-click="@info(el),@details(el)">
                                        <i class="icon iconfont icon-16"></i>
                                    </a>
                                </li>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ms-if="@nothing">
                    <p class="text-center"><img src="/IMIS/images/nothing-3.png"></p>
                </div>
                <div class="page paging text-center">
                    <div class="pager paging"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-add" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg"></div>
    </div>
    <div class="modal fade modal-choice" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg"></div>
    </div>
    <div class="modal fade modal-details" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content add-user details">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="NoPermissionModalLabel">查看详情</h4>
                </div>
                <div class="modal-body">
                    <div class="details-content">
                        <iframe class="detailsPage" scrolling="auto" frameborder="0" src=""></iframe>
                    </div>
                </div>
                <div class="modal-footer submit-wrapper">
                    <div class="form-group">
                        <div class="submit-box text-center">
                            <button type="button" class="btn btn-default" ms-on-click="@clickBtnReturn">返回</button>
                            <div class="tip-box"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>