@import "Variable";

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #333;
}

a:focus {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: @navColor;
  text-decoration: none;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

input:focus, a:focus, button:focus {
  outline: none !important;
}

.el-carousel__container {
  height: 354px !important;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

#app {
  height: 100%;
}

.is-active, .el-tabs__item:hover {
  color: @colorActive !important;
}

.el-pagination {
  text-align: right;
  padding-top: 10px !important;
  color: #666 !important;
  li.active{
    background: @colorActive;
    &:hover {
      background: #0BBB57;
    }
  }
}

.tableone th {
  background: #eff2f7 !important;
}

.page-common {
  height: 100%;

  .main {
    position: relative;
  }

  h4.title {
    font-size: 28px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 25px;
  }

  .btn-add {
    position: absolute;
    left: 0;
    top: 10px;
  }

  .screen-box {
    margin-bottom: 10px;

    .btn-search{
      background: @colorActive;
      color: #fff;
      &:hover {
        background: #0BBB57;
      }
    }

    .el-button {

      i {
        font-size: 16px;
      }
    }
  }

  .el-table {
    .el-button.is-circle {
      padding: 8px;
    }
  }

  .paging {
    margin-top: 20px;
  }

  .el-dialog__header {
    border-bottom: 1px solid @border;
  }

  .dialog-footer {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid @border;
  }

  .el-dialog {
    form.el-form {
      max-height: 500px;
      overflow-y: auto;
      span{
        font-size: 13px;
        line-height: 24px;
      }
    }
  }

  .big-dialog {
    form.el-form, .content-box {
      min-height: 400px;
      overflow-y: auto;
    }

    .edit_container {
      .ql-container.ql-snow {
        min-height: 320px;
      }
    }

    .addNews {
      .edit_container {
        .ql-container.ql-snow {
          border: 1px solid #ccc;
        }
      }
    }

    .NewsDetails {
      .content-box {
        position: relative;
        max-height: 500px;
        overflow-y: auto;


        h4.title {
          font-size: 18px;
          font-weight: bold;
          margin: 10px 0 15px;
        }

        .time {
          color: #999;
          font-size: 12px;
          text-align: center;
          margin-bottom: 20px;
        }
      }

      .ql-container {
        border: none;

        p {
          line-height: 24px;
          margin-bottom: 10px;
          font-size: 12px;
        }

        img {
          margin: 10px 0;
          max-width: 100%;
        }
        .file-list{
          border-top: 1px dashed @border;
          padding-top: 20px;
          label{
            font-weight: bold;
            font-size: 13px;
          }
          ul{
            margin-top: 10px;
          }
          li{
            margin-bottom: 5px;
          }
          a{
            color: #389af0;
            display: block;
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (min-width: 992px) and (max-width: 1366px) {
  .page-common {
    .el-dialog {
      width: 570px !important;
      margin-top: 3% !important;

      form.el-form {
        max-height: 400px;
      }
    }

    .big-dialog {
      .el-dialog {
        width: 760px !important;

        .edit_container {
          .ql-container.ql-snow {
            min-height: 250px !important;
          }
        }
      }

      .NewsDetails {
        .content-box {
          max-height: 400px;
        }
      }
    }
  }
}
