.page-news{
    .main{
      .line{
        text-align: center;
      }
    }
  .screen-box{
    position: relative;
    .btn-add{
      left: 0;
      top: 0;
    }
    .el-form{
      margin-left: 130px;
    }
  }
}
