@import "@/assets/scss/Variable.scss";

.page-addStudent {
  min-height: 500px;

  .el-cascader {
    display: block;
  }

  .el-form-item {
    width: 50%;
    float: left;
    margin-bottom: 15px;
  }

  .el-form-item-block {
    width: 100%;

    .el-input {
      width: 90% !important;
    }
  }

  .mailTable {
    margin-bottom: 10px;
  }

  .files-list {
    font-size: 13px;

    li {
      margin-bottom: 10px;
    }

    a {
      padding: 5px;

      &:hover {
        color: $colorActive;
      }
    }
  }
}

.item-title {
  margin-top: 0;
  margin-bottom: 10px;
}

.btn-back-box {
  margin-bottom: 5px;
}

.left-content {
  padding-top: 60px;

  .name {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
  }

  .type {
    font-size: 12px;
    color: #666;
  }

  .explain {
    width: 98%;
    margin-top: 40%;
  }
}

.header-img {
  border: 2px solid #edeff1;
  padding: 2px;
  margin-bottom: 15px;
  width: 110px;
  height: 110px;
  border-radius: 50%;
}

.item-box {
  display: block;
  padding-right: 5px;
  zoom: 1;
}

.item-box:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0;
}

.right-content {
  border-left: 1px solid #edeff1;
  box-shadow: inset 3px 0 4px -1px #fafafa;
  min-height: 500px;
  padding-left: 10px;
  padding-right: 20px;

  .personal-title {
    font-size: 22px;
    margin: 25px 0 20px;
    color: #696d73;
    font-style: italic;
  }
}

h5.title {
  background: #eceff4;
  color: $colorActive;
  margin: 0 0 15px;
  padding: 10px;
  font-size: 15px;
}

.el-form {
  overflow: hidden;
}


