@import "Variable";

.el-carousel__container {
  height: 354px !important;
}

.el-pagination {
  text-align: right;
  padding-top: 10px !important;
  color: #666 !important;
}

.el-switch__label {
  color: #ccc !important;
}

.el-switch__label * {
  font-size: 13px !important;
}

.el-switch__label.is-active {
  color: $colorActive !important;
}

.panel-group .card-panel-col {
  margin-bottom: 22px !important;
}

.upload-demo {
  .el-upload__tip {
    font-size: 12px;
    color: #999;
  }

  .el-upload-list__item {
    line-height: 1.5;
    font-size: 13px;
  }
}

.el-form-item--small .el-form-item__content, .el-form-item--small .el-form-item__label {
  line-height: 33px;
}

.el-date-editor .el-range-input, .el-date-editor .el-range-separator {
  font-size: 13px;
}

.el-timeline-item {
  h4 {
    margin-top: 5px;
  }
}

.el-table {
  th {
    background: $tabel-th !important;
  }

  td, th {
    padding: 8px 0;
  }

  td {
    font-size: 13px;

    .td-title {
      &:hover {
        color: $colorActive;
      }
    }

    .logo-img {
      display: inline-block;
      width: 25px;
      height: 25px;
      float: left;
      margin-right: 8px;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }

    .title {
      float: left;
    }
  }
}

.el-popover {
  p {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: 13px;
  }
}

.el-cascader-menu {
  height: 230px;

  .el-cascader-menu__item {
    padding: 6px 20px;
    height: 32px;
    font-size: 13px;
  }
}

.el-radio-group {
  line-height: initial;

  .el-radio {
    line-height: initial;
  }
}

ul, li {
  list-style: none;
}

table.mailTable {
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;
  font-size: 13px;

  td {
    .td-title {
      &:hover {
        color: $colorActive;
      }
    }
  }

  th, td {
    border: 1px solid #ddd;
    padding: 10px;
  }

  td {
    background: #FFF;
  }

  th {
    background: #f5f5f5;
    width: 125px;
    text-align: right;
  }

  .name {
    font-weight: bold;
  }
}

.el-checkbox__label {
  font-size: 13px;
}

.el-textarea__inner, .el-input__inner {
  font-size: 12px;
}

.el-progress-circle {
  color: #fff;
}

.user-dropdown {
  .el-dropdown-menu__item {
    i {
      font-size: 14px;
      margin-right: 5px;
    }
  }
}

.el-tag--info, .el-tag--info .el-tag__close {
  color: $colorActive;
}

.state-success {
  color: #02ae38;
}

.state-error {
  color: #dc1515;
}

.state-warning {
  color: #f60;
}

.state-primary {
  color: $colorActive;
}


.page-common {
  height: 100%;
  position: relative;

  .btn-back-box {
    text-align: right;
    margin-bottom: 15px;

    button {
      border-radius: 15px;
    }
  }

  .filter-container {
    .el-date-editor .el-range__close-icon {
      position: absolute;
      right: 5px;
      top: 0;
    }
  }

  .content {
    position: relative;
    background: #fff;

    .filter-container {
      .svg-icon {
        font-size: 17px;
      }
    }

    .el-button {
      padding: 10px 15px;
    }

    .el-button--mini, .el-button--mini.is-round {
      padding: 7px 10px;
    }
  }

  h4.title {
    font-size: 24px;
    text-align: center;
    font-weight: normal;
    margin-bottom: 15px;
    margin-top: 10px;
    color: #666;
  }

  .page-title {
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 15px;
    margin-top: 10px;
    color: #333;
  }

  .screen-box {
    background: #eceff4;
    min-height: 40px;
    padding: 5px 10px;
    position: relative;

    .btn-add {
      position: absolute;
      left: 0;
      top: 10px;
    }

    .el-button {
      margin-top: 5px;

      i {
        font-size: 16px;
      }
    }

    .el-form-item {
      margin: 5px 10px 5px 0;
    }
  }

  .explain {
    color: #ff7c00;
    font-size: 12px;
    text-align: left;
    line-height: 23px;
  }

  .el-table {
    margin-top: 10px;

    .el-button.is-circle {
      padding: 8px;
    }

    .el-switch__core {
      width: 35px !important;
    }

  }

  .paging {
    margin-top: 20px;
  }

  .not-content {
    text-align: center;
    margin-top: 100px;
  }

  .el-input.is-disabled .el-input__inner {
    color: #777;
  }

  .el-dialog__header {
    border-bottom: 1px solid $border;
  }

  .tinymce-container {
    width: 99%;
    font-size: 13px;
    line-height: 22px;
  }

  .tinymce-content {
    clear: left;
    padding: 0 15px;
    border-radius: 5px;
    font-size: 13px !important;
    line-height: 22px;
  }

  .dialog-footer {
    text-align: center;
    padding-top: 10px;
    border-top: 1px solid $border;

    .el-button {
      margin-left: 20px;
    }
  }

  .footer-box {
    border-top: none;
  }

  .el-dialog {
    width: 570px !important;

    .el-dialog__body {
      padding: 15px 20px;
      font-size: 13px;
    }

    form.el-form {
      max-height: 500px;
      height: 500px;
      overflow-y: auto;

      span.text {
        font-size: 13px;
        line-height: 24px;
      }

      .el-cascader {
        display: block;
      }

      .el-date-editor {
        width: 90%;
      }

      .el-select {
        width: 100%;
      }
    }

    .details {
      .el-form-item {
        margin-bottom: 10px;
      }

      .item-box {
        h5.title {
          background: #eceff4;
          color: $colorActive;
          margin: 0 0 15px;
          padding: 5px 10px;
          font-size: 14px;
        }

        .mailTable {
          margin-bottom: 10px;
        }

        .item-title {
          float: left;
          padding-top: 8px;
          font-size: 18px;

          i {
            font-size: 20px;
            color: #f60;
          }
        }
      }

      .files-list {
        li {
          margin-bottom: 5px;

          a {
            color: $colorActive;
          }

          &:hover a {
            color: $loginColor;
          }
        }
      }

      .content-box {
        position: relative;
        max-height: 500px;
        overflow-y: auto;


        h4.title {
          font-size: 18px;
          font-weight: bold;
          margin: 10px 0 15px;
        }

        .tiem {
          color: #999;
          font-size: 12px;
          text-align: center;
        }

        .steps-box {
          height: 300px;
        }
      }

      .ql-container {
        border: none;

        p {
          line-height: 24px;
          margin-bottom: 10px;
          font-size: 12px;
        }

        img {
          margin: 10px 0;
          max-width: 100%;
        }
      }
    }
  }

  .common-dialog {
    .el-tabs {
      .el-tabs__content {
        height: 100%;
        overflow-y: auto;
      }

      .el-tabs__header {
        margin: 0 0 10px;
      }
    }

    .content-box {
      min-height: 450px;
      overflow-y: auto;

      .el-select {
        display: block;
      }
    }

    .el-tabs__item.is-active {
      background: $colorActive;
      color: #fff;
      border-bottom: 1px solid $colorActive;
    }

    .el-tabs--card > .el-tabs__header {
      border-color: $colorActive;
    }
  }

  .big-dialog {
    .el-dialog {
      width: 50% !important;
    }

    .item-box {
      h5.title {
        padding: 10px;
        font-size: 14px;
      }
    }

    .el-form-item {
      width: 50%;
      float: left;
      margin-bottom: 15px;
    }

    .item-box {
      display: block;
      padding-right: 5px;
      zoom: 1;
    }

    .item-box:after {
      display: block;
      clear: both;
      content: '';
      visibility: hidden;
      height: 0;
    }

    .details {
      .el-form-item {
        margin-bottom: 10px;
      }
    }

    .el-form-item-block {
      width: 100%;
    }

    .edit_container {
      .ql-container.ql-snow {
        min-height: 320px;
      }
    }

    .addNews {
      .edit_container {
        .ql-container.ql-snow {
          border: 1px solid #ccc;
        }
      }
    }

    .shenhe-box {
      .details-content {
        height: 400px;
        overflow-y: auto;
      }

      .el-form {
        height: auto !important;
      }
    }

  }

  .el-select-dropdown__wrap {
    max-height: 294px;

    .el-dialog .paging {
      border-top: 1px solid #ddd;
    }
  }
}

.el-select-dropdown__item {
  font-size: 13px;

  &:hover {
    color: $colorActive;
  }
}

div.mce-edit-area {
  padding: 5px;
}

@media (min-width: 992px) and (max-width: 1366px) {
  .page-common {
    .el-dialog {
      width: 500px !important;
      margin-top: 3% !important;

      form.el-form {
        height: 400px;
      }
    }

    .big-dialog {
      .el-dialog {
        .edit_container {
          .ql-container.ql-snow {
            min-height: 250px !important;
          }
        }
      }

      .NewsDetails {
        .content-box {
          max-height: 400px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .el-col-sm-4-8 {
    width: 20%
  }
  .el-col-sm-offset-4-8 {
    margin-left: 20%;
  }
  .el-col-sm-pull-4-8 {
    position: relative;
    right: 20%;
  }
  .el-col-sm-push-4-8 {
    position: relative;
    left: 20%;
  }
}

@media only screen and (min-width: 992px) {
  .el-col-md-4-8 {
    width: 20%;
  }
  .el-col-md-offset-4-8 {
    margin-left: 20%;
  }
  .el-col-md-pull-4-8 {
    position: relative;
    right: 20%;
  }
  .el-col-md-push-4-8 {
    position: relative;
    left: 20%;
  }
}

@media only screen and (min-width: 1200px) {
  .el-col-lg-4-8 {
    width: 20%
  }
  .el-col-lg-offset-4-8 {
    margin-left: 20%;
  }
  .el-col-lg-pull-4-8 {
    position: relative;
    right: 20%;
  }
  .el-col-lg-push-4-8 {
    position: relative;
    left: 20%;
  }
}

@media only screen and (min-width: 1920px) {
  .el-col-xl-4-8 {
    width: 20%;
  }

  .el-col-xl-offset-4-8 {
    margin-left: 20%;
  }

  .el-col-xl-pull-4-8 {
    position: relative;
    right: 20%;
  }

  .el-col-xl-push-4-8 {
    position: relative;
    left: 20%;
  }
}
