<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>纵向项目申报详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/IMIS/libs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/IMIS/libs/bootstrap/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="/IMIS/css/child_pages.css"/>
    <!--[if lt IE 9]>
    <script src="/IMIS/libs/html5shiv.js"></script>
    <script src="/IMIS/libs/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <script src="/IMIS/libs/jquery-1.11.1.min.js"></script>
    <script src="/IMIS/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/IMIS/libs/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/IMIS/libs/avalon.min.js"></script>

    <script src="/IMIS/js/main.js"></script>
    <script src="/IMIS/js/get_connect/code.js"></script>
    <script src="/IMIS/js/get_connect/connect_http.js"></script>
    <script src="/IMIS/js/get_connect/return_data.js"></script>
    <script src="/IMIS/js/纵向项目/项目申报/纵向项目申报详情.js"></script>

</head>
<body ms-controller="root" class="ms-controller" style="background: #fff;">
<div class="form-horizontal page-details">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">申报基本信息</a>
        </li>
        <li role="presentation">
            <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">参与人信息</a>
        </li>
        <li role="presentation">
            <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">相关文件</a>
        </li>
        <li role="presentation">
            <a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">专家评审记录</a>
        </li>
        <li role="presentation">
            <a href="#tab5" aria-controls="tab5" role="tab" data-toggle="tab">审核记录</a>
        </li>
    </ul>
    <div class="tab-content add-user">
        <div role="tabpanel" id="tab1" class="tab-pane active">
            <form class="form-horizontal content">
                <div class="col-sm-12">
                    <h5 class="title"><span>申报基本信息</span></h5>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">项目名称：</label>
                        <div class="col-sm-9">
                            <span>{{@model.申报基本信息.项目名称}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">申报人：</label>
                        <div class="col-sm-7">
                            <span>{{@model.申报基本信息.姓名}}</span>
                        </div>
                    </div>
                    <!--<div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">经办人：</label>
                        <div class="col-sm-7">
                            <span>{{@model.申报基本信息.专利类型}}</span>
                        </div>
                    </div>-->
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">成果归属部门：</label>
                        <div class="col-sm-7">
                            <span>{{@model.申报基本信息.部门名称}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">学科门类：</label>
                        <div class="col-sm-7">
                            <span>{{@model.申报基本信息.学科门类}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">学科类型：</label>
                        <div class="col-sm-7">
                            <span>{{@model.申报基本信息.学科类型}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">项目类型：</label>
                        <div class="col-sm-7">
                            <span>{{@model.申报基本信息.项目类型}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">项目级别：</label>
                        <div class="col-sm-7">
                            <span>{{@model.申报基本信息.项目级别}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">项目来源单位：</label>
                        <div class="col-sm-7">
                            <span>{{@model.申报基本信息.项目来源单位}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">项目类别：</label>
                        <div class="col-sm-7">
                            <span>{{@model.申报基本信息.项目类别}}</span>
                        </div>
                    </div>
                    <!--<div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">项目子类：</label>
                        <div class="col-sm-7">
                            <span>{{@model.申报基本信息.专利权人名称}}</span>
                        </div>
                    </div>-->
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">申报时间：</label>
                        <div class="col-sm-7">
                            <span>{{@model.申报基本信息.申报时间|date("yyyy-MM-dd")}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">申请经费：</label>
                        <div class="col-sm-7">
                            <span>{{@model.申报基本信息.申请经费|currency}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">年度：</label>
                        <div class="col-sm-7">
                            <span>{{@model.申报基本信息.申报年度}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">计划开始时间：</label>
                        <div class="col-sm-7">
                            <span>{{@model.申报基本信息.计划开始日期|date("yyyy-MM-dd")}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">计划完成时间：</label>
                        <div class="col-sm-7">
                            <span>{{@model.申报基本信息.计划完成日期|date("yyyy-MM-dd")}}</span>
                        </div>
                    </div>
                    <!--<div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">是否要在外单位提供：</label>
                        <div class="col-sm-7">
                            <span>{{@model.申报基本信息.专利号}}</span>
                        </div>
                    </div>-->
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">项目等级：</label>
                        <div class="col-sm-7">
                            <span>{{@model.申报基本信息.项目等级}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">伦理批文编号：</label>
                        <div class="col-sm-7">
                            <span>{{@model.申报基本信息.伦理批文编号}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">是否委托外单位进行实验或实验分析：</label>
                        <div class="col-sm-7">
                            <span>{{@model.申报基本信息.是否委托外单位进行实验或实验分析?'是':'否'}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">实验分析内容：</label>
                        <div class="col-sm-9">
                            <span>{{@model.申报基本信息.实验委托检测内容}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">项目摘要：</label>
                        <div class="col-sm-9">
                            <span>{{@model.申报基本信息.项目摘要}}</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div role="tabpanel" id="tab2" class="tab-pane">
            <h4 class="text-center auditing-title">参与人信息</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th width="80">序号</th>
                        <th>参与人姓名</th>
                        <th>部门名称</th>
                        <th>工作量占比（%）</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ms-for="($index,el) in @model.参与人信息">
                        <td>{{$index+1}}</td>
                        <td>{{el.姓名}}</td>
                        <td>{{el.部门名称}}</td>
                        <td>{{el.工作量占比}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ms-if="@model.参与人信息.length==0||@model.参与人信息==null">
                <p class="text-center"><img src="/IMIS/images/nothing-3.png"></p>
            </div>
        </div>
        <div role="tabpanel" id="tab3" class="tab-pane">
            <form class="form-horizontal content fileUpload-box">
                <div class="col-sm-12">
                    <h5 class="title"><span>伦理批文附件</span></h5>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">附件：</label>
                        <div class="form-group col-sm-8 items">
                            <div class="item" ms-for="el in @files">
                                <a class="name" ms-attr="{'href':@el}" download="">{{@getHtmlDocName(el)}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h5 class="title"><span>项目申报书</span></h5>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">项目申报书：</label>
                        <div class="form-group col-sm-8 items">
                            <div class="item" ms-for="el in @declareFiles">
                                <a class="name" ms-attr="{'href':@el}" download="">{{@getHtmlDocName(el)}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div role="tabpanel" id="tab4" class="tab-pane">
            <div class="title-box">
                <a class="btn btn-success btn-Printing"  ms-if="model.专家评审记录.length!=0" href="javascript:;" ms-on-click="@Printing()">
                    <i class="icon iconfont icon-dayin2"></i> 打印记录
                </a>
                <!-- <a class="btn btn-default btn-export" href="javascript:;" ms-on-click="@batchExport()">
                 <i class="icon iconfont icon-download"></i> 导出PDF
             </a>-->
            </div>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th width="80">序号</th>
                        <th>专家姓名</th>
                        <th>部门</th>
                        <th>评分类型</th>
                        <th>评分</th>
                        <th>评审时间</th>
                        <th>专家推荐意见</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ms-for="($index,el) in @model.专家评审记录">
                        <td>{{$index+1}}</td>
                        <td>{{el.专家姓名}}</td>
                        <td>{{el.专家部门名称}}</td>
                        <td>{{el.评分项}}</td>
                        <td>{{el.评分}}</td>
                        <td>{{el.建立时间|date("yyyy-MM-dd")}}</td>
                        <td>{{el.备注}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ms-if="@model.专家评审记录.length==0||@model.专家评审记录==null">
                <p class="text-center"><img src="/IMIS/images/nothing-3.png"></p>
            </div>
        </div>
        <div role="tabpanel" id="tab5" class="tab-pane">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th width="80">序号</th>
                        <th>步骤名称</th>
                        <th>处理人</th>
                        <th>处理人部门</th>
                        <th>状态</th>
                        <th>执行时间</th>
                        <th>备注</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ms-for="($index,el) in @model.审核记录">
                        <td>{{$index+1}}</td>
                        <td>{{el.名称}}</td>
                        <td>{{el.姓名}}</td>
                        <td>{{el.部门名称}}</td>
                        <td ms-class="getClass(el.状态说明)">{{el.状态说明}}</td>
                        <td>{{el.执行时间}}</td>
                        <td>{{el.备注}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ms-if="@model.审核记录.length==0||@model.审核记录==null">
                <p class="text-center"><img src="/IMIS/images/nothing-3.png"></p>
            </div>
        </div>
    </div>
</div>