<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>我的通知公告</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/IMIS/libs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/IMIS/libs/bootstrap/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="/IMIS/libs/mCustomScrollbar/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="/IMIS/libs/ztree/metroStyle/metroStyle.css"/>
    <link rel="stylesheet" href="/IMIS/libs/umeditor/themes/default/css/umeditor.css"/>
    <link rel="stylesheet" href="/IMIS/libs/iconfont/iconfont.css"/>
    <!--[if lt IE 9]>
    <script src="/IMIS/libs/html5shiv.js"></script>
    <script src="/IMIS/libs/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <script src="/IMIS/libs/jquery-1.11.1.min.js"></script>
    <script src="/IMIS/libs/jquery.placeholder.min.js"></script>
    <script src="/IMIS/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/IMIS/libs/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/IMIS/libs/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/IMIS/libs/ztree/jquery.ztree.all.min.js"></script>
    <script src="/IMIS/libs/avalon.min.js"></script>
    <script src="/IMIS/libs/umeditor/umeditor.config.js"></script>
    <script src="/IMIS/libs/umeditor/umeditor.min.js"></script>
    <script src="/IMIS/libs/umeditor/lang/zh-cn/zh-cn.js"></script>

    <script src="/IMIS/js/pager.js"></script>
    <script src="/IMIS/js/main.js"></script>
    <script src="/IMIS/js/get_connect/code.js"></script>
    <script src="/IMIS/js/get_connect/connect_http.js"></script>
    <script src="/IMIS/js/get_connect/return_data.js"></script>

    <script>
        document.write(' <link rel="stylesheet" href="/IMIS/css/child_pages.css?time=' + new Date().getTime() + '"/>');
        document.write(' <script src="/IMIS/js/科研办公/科研办公/我的通知公告.js?time=' + new Date().getTime() + '"></s' + 'cript>');

    </script>

</head>
<body ms-controller="root" class="ms-controller" onload="IFrameResize()">
<div class="page-notice page-common page-table page-tableborder">
    <div class="main">
        <h4 class="title">我的通知公告列表</h4>
        <div class="screen-box">
            <div class="form-inline">
                <div class="form-group input-box">
                    <div class="input-group">
                        <div class="input-group-addon">通知类型</div>
                        <select class="form-control type" ms-on-change="@change">
                            <option value="">全部</option>
                            <option value="公告">公告</option>
                            <option value="普通通知">普通通知</option>
                        </select>
                    </div>
                </div>
                <div class="form-group input-box">
                    <div class="input-group">
                        <div class="input-group-addon">通知名称</div>
                        <input type="text" class="form-control number" ms-duplex="@tName" ms-keydown="@submit">
                    </div>
                </div>
                <div class="form-group input-box">
                    <div class="input-group">
                        <div class="input-group-addon">通知内容</div>
                        <input type="text" class="form-control number" ms-duplex="@content" ms-keydown="@submit">
                    </div>
                </div>
                <div class="form-group input-box">
                    <div class="input-group">
                        <div class="input-group-addon">发布人姓名</div>
                        <input type="text" class="form-control number" ms-duplex="@name" ms-keydown="@submit">
                    </div>
                </div>
                <!--<div class="form-group input-box">-->
                    <!--<div class="input-group">-->
                        <!--<div class="input-group-addon">发布时间</div>-->
                        <!--<input type="text" class="form-control form-time time" ms-keydown="@submit">-->
                    <!--</div>-->
                <!--</div>-->
                <a class="btn btn-primary btn-search" href="javascript:;" ms-on-click="@search()">查询</a>
                <div class="total-box">
                    总计：<strong>{{@total}}</strong> 条
                    <button type="button" class="btn btn-success btn-refresh">刷新</button>
                </div>
            </div>
        </div>
        <div class="personnel-box">
            <div class="personnel-list">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th width="60">序号</th>
                            <th width="380" class="text-left">通知名称</th>
                            <th>类型</th>
                            <th>发布人</th>
                            <th>部门</th>
                            <th>接收人数</th>
                            <th>已接收人数</th>
                            <th>发布时间</th>
                            <th>关闭时间</th>
                            <th>状态</th>
                            <th class="operation">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ms-for="($index,el) in @model" ms-if="@loaded && @model!= null && @model.length != 0" >
                            <td>{{$index+1}}</td>
                            <td class="text-left title">
                                <a ms-attr="{'href':@getUrl('通知详情.html')}" data-toggle="modal" data-target=".modal-details"
                                   ms-on-click="@details(el.编号),@clickName($index)">{{el.通知名称}}
                                </a>
                            </td>
                            <td>{{el.通知类型}}</td>
                            <td>{{el.发送人姓名}}</td>
                            <td>{{el.发送人部门名称}}</td>
                            <td>{{el.接收人数}}</td>
                            <td>{{el.已接收人数}}</td>
                            <td>{{el.建立时间|date("yyyy-MM-dd")}}</td>
                            <td>{{el.关闭时间|date("yyyy-MM-dd")}}</td>
                            <td class="statue" ms-class="getStatusClass(el.是否启用
)">{{el.是否启用?'正常':'已禁用'}}</td>
                            <td class="operation">
                                <li class="bs-tooltip btn-details" data-toggle="tooltip" data-placement="bottom"
                                    title="详情" ms-on-click="@details(el.编号)">
                                    <a data-toggle="modal" data-target=".modal-add" ms-attr="{'href':@getUrl('通知公告详情.html')}"
                                       onclick="changeUrl(this)">
                                        <i class="icon iconfont icon-16"></i>
                                    </a>
                                </li>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ms-if="@nothing">
                    <p class="text-center"><img src="/IMIS/images/nothing-3.png"></p>
                </div>
                <div class="page paging text-center">
                    <div class="pager paging"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-add" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg"></div>
    </div>
</div>
</body>
</html>