<script src="/IMIS/js/成果管理/专利/专利申请.js" type="text/javascript"></script>
<div class="modal-content ms-controller add-user" ms-controller="Add">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true" ms-on-click="@clickBtnReturn">&times;</span></button>
        <h4 class="modal-title" id="NoPermissionModalLabel">{{@title}}</h4>
    </div>
    <div class="modal-body">
        <ul class="nav nav-tabs">
            <li role="presentation" class="active">
                <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">基本信息</a>
            </li>
            <li role="presentation">
                <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">发明人信息</a>
            </li>
            <li role="presentation">
                <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">相关文件</a>
            </li>
            <li role="presentation">
                <a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">相关费用</a>
            </li>
            <!-- <li role="presentation">
                 <a href="#tab5" aria-controls="tab5" role="tab" data-toggle="tab">专利年费</a>
             </li>
             <li role="presentation">
                 <a href="#tab6" aria-controls="tab6" role="tab" data-toggle="tab">转化合同信息</a>
             </li>-->
            <li role="presentation">
                <a href="#tab7" aria-controls="tab7" role="tab" data-toggle="tab">相关项目</a>
            </li>
            <li role="presentation">
                <a href="#tab8" aria-controls="tab8" role="tab" data-toggle="tab">审核记录</a>
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" id="tab1" class="tab-pane active">
                <form class="form-horizontal content">
                    <div class="col-sm-12">
                        <h5 class="title"><span>专利信息</span></h5>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label">
                                <i class="icon iconfont icon-text-sign icon-sign"></i>专利名称：
                            </label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control paper-name" ms-duplex="@info.基本资料.专利名称"
                                       ms-on-change="@inputVal('.paper-name')">
                                <span class="error-texe">专利名称不能为空！</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">专利国别：</label>
                            <div class="col-sm-7">
                                <select class="form-control">
                                    <option value="中国">中国</option>
                                    <option value="其他">其他</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">
                                <i class="icon iconfont icon-text-sign icon-sign"></i>专利类型：
                            </label>
                            <div class="col-sm-7">
                                <select class="form-control patentType" ms-duplex="@info.基本资料.专利类型"
                                        ms-on-change="@inputVal('.patentType')">
                                    <option value="">请选择</option>
                                    <option ms-for="el in @model.专利类型" ms-attr="{'value':@el}">{{el}}</option>
                                </select>
                                <span class="error-texe">专利类型不能为空！</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">专利范围：</label>
                            <div class="col-sm-7">
                                <select class="form-control" ms-duplex="@info.基本资料.专利范围">
                                    <option value="国内">国内</option>
                                    <option value="国外">国外</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">是否授权：</label>
                            <div class="col-sm-7">
                                <label class="radio-inline">
                                    <input type="radio" value="true" name="publish" ms-duplex="@info.基本资料.是否授权"> 是
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="false" name="publish" ms-duplex="@info.基本资料.是否授权"> 否
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label">代理机构：</label>
                            <div class="col-sm-9">
                                <input type="text" class="form-control" ms-duplex="@info.基本资料.代理机构"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">
                                <i class="icon iconfont icon-text-sign icon-sign"></i>年度：
                            </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-year year" ms-duplex="@info.基本资料.年度"
                                       ms-on-change="@inputVal('.year')">
                                <span class="error-texe">年度不能为空！</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">
                                <i class="icon iconfont icon-text-sign icon-sign"></i>专利权人名称：
                            </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control patentee" ms-duplex="@info.基本资料.专利权人名称"
                                       ms-on-change="@inputVal('.patentee')"/>
                                <span class="error-texe">专利权人名称不能为空！</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">
                                <i class="icon iconfont icon-text-sign icon-sign"></i>申请号：
                            </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control request-number" ms-duplex="@info.基本资料.申请号"
                                       ms-on-change="@inputVal('.request-number')"/>
                                <span class="error-texe">申请号不能为空！</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">
                                <i class="icon iconfont icon-text-sign icon-sign"></i>申请日期：
                            </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-time apply-time" ms-duplex="@info.基本资料.申请日期"
                                       ms-on-change="@inputVal('.apply-time')">
                                <span class="error-texe">申请日期不能为空！</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">
                                <i class="icon iconfont icon-text-sign icon-sign"></i>公开号：
                            </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control public-number" ms-duplex="@info.基本资料.公开号" ms-on-change="@inputVal('.public-number')"/>
                                <span class="error-texe">公开号不能为空！</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">公开日期：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-time" ms-duplex="@info.基本资料.公开日期">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">专利号：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ms-duplex="@info.基本资料.专利号"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">国际专利主分类号：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ms-duplex="@info.基本资料.国际专利主分类号"/>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">证书号：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ms-duplex="@info.基本资料.证书号">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">授权公告日：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-time" ms-duplex="@info.基本资料.授权公告日">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">是否职务发明：</label>
                            <div class="col-sm-7">
                                <label class="radio-inline">
                                    <input type="radio" value="true" name="position" ms-duplex="@info.基本资料.是否职务发明"> 是
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="false" name="position" ms-duplex="@info.基本资料.是否职务发明"> 否
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">是否已生效：</label>
                            <div class="col-sm-7">
                                <label class="radio-inline">
                                    <input type="radio" value="true" name="shengXiao" ms-duplex="@info.基本资料.是否生效"> 是
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="false" name="shengXiao" ms-duplex="@info.基本资料.是否生效"> 否
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">
                                <i class="icon iconfont icon-text-sign icon-sign"></i>发明人数：
                            </label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control inventor-number"
                                       onkeyup="onlyNum(this)" ms-duplex="@info.基本资料.发明人数"
                                       ms-on-change="@inputVal('.inventor-number')">
                                <span class="error-texe">发明人数不能为空！</span>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">奖励金额(元)：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control"
                                       onkeyup="onlyNum(this)" ms-duplex="@info.基本资料.奖励金额">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">超额费用(元)：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control"
                                       onkeyup="onlyNum(this)" ms-duplex="@info.基本资料.超额费用">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">超额费用来源</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ms-duplex="@info.基本资料.超额费用来源">
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label">
                                <i class="icon iconfont icon-text-sign icon-sign"></i>专利摘要：
                            </label>
                            <div class="col-sm-9">
                                <textarea class="form-control abstract" ms-duplex="@info.基本资料.专利摘要" rows="3"
                                          ms-on-change="@inputVal('.abstract')"></textarea>
                                <span class="error-texe">专利摘要不能为空！</span>
                            </div>

                        </div>
                        <div class="form-group col-sm-12">
                            <label class="col-sm-3 control-label">备注：</label>
                            <div class="col-sm-9">
                                <textarea class="form-control" ms-duplex="@info.基本资料.备注" rows="2"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div role="tabpanel" id="tab2" class="tab-pane">
                <div class="title-box">
                    <a ms-attr="{'href':@getUrl('../论文/选择作者.html')}" class="btn btn-primary btn-add" data-toggle="modal"
                       data-target=".modal-choice" onclick="changeUrlChoice(this,'.modal-choice')">
                        <i class="icon iconfont icon-tianjia"></i> 添加发明人
                    </a>
                    <span class="text-right remarks">说明：一个排序只能一人选择，不能多人同时选择。</span>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th width="80">序号</th>
                            <th>发明人姓名</th>
                            <th>所属部门</th>
                            <th>发明人排序</th>
                            <th>工作量占比（%）</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ms-for="($index,el) in @info.作者">
                            <td>{{$index+1}}</td>
                            <td ms-attr>{{el.姓名}}</td>
                            <td>{{el.部门名称}}</td>
                            <td>
                                <select class="form-control level" ms-duplex="@el.作者级别">
                                    <option value="">请选择</option>
                                    <option ms-attr="{'value':@al}" ms-for="al in @model.专利作者级别">{{al}}</option>
                                </select>
                            </td>
                            <td>
                                <input type="text" class="text-center form-control" ms-duplex="@el.工作量占比"
                                       onkeyup="onlyNum(this)"/>
                            </td>
                            <td class="operation">
                                <ul>
                                    <li class="bs-tooltip btn-del" data-toggle="tooltip" data-placement="bottom"
                                        title="删除">
                                        <a href="javascript:;" ms-on-click="@info.作者.remove(el)">
                                            <i class="icon iconfont icon-shanchu1"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ms-if="@info.作者.length==0||@info.作者==null">
                    <p class="text-center"><img src="/IMIS/images/nothing-3.png"></p>
                </div>
            </div>
            <div role="tabpanel" id="tab3" class="tab-pane">
                <form class="form-horizontal content">
                    <div class="col-sm-12 fileUpload-box">
                        <h5 class="title"><span>相关文件</span></h5>
                        <div class="form-group  col-sm-6">
                            <label class="col-md-4 col-sm-4 control-label" for="input-file">
                                <i class="icon iconfont icon-text-sign icon-sign"></i>上传专利证书等：
                            </label>
                            <div class="col-md-7 col-sm-7 file-box">
                                <input type="file" id="input-file" class="input-file" name="fileUpload"
                                       onclick="fileChange(this,'.fileUpload-box .input-file')">
                                <div class="file">
                                    <a class="file-text btn btn-default" href="javascript:;">选择文件</a>
                                    <span class="file-name"></span>
                                </div>
                                <a class="btn btn-primary" href="javascript:;"
                                   ms-on-click="@clickUpload($event)">上传</a>
                                <div class="loading">文件上传中...</div>
                            </div>
                        </div>
                        <div class="form-group  col-sm-6" ms-if="@files.length>0">
                            <label class="col-md-3 col-sm-3 control-label">已上传：</label>
                            <div class="col-md-8 col-sm-8 items">
                                <div class="item" ms-for="el in @files">
                                    <a class="name" ms-attr="{'href':@el}" download="">{{@getHtmlDocName(el)}}</a>
                                    <a class="btn-del" href="javascript:;" ms-on-click="@files.remove(el)">
                                        <i class="icon iconfont icon-shanchu1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div role="tabpanel" id="tab4" class="tab-pane">
                <form class="form-horizontal content">
                    <div class="col-sm-12">
                        <h5 class="title"><span>代理费</span></h5>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">代理费金额：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control paper-name" onkeyup="onlyNum(this)"
                                       ms-duplex="@info.基本资料.代理费金额">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">代理费发票号：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ms-duplex="@info.基本资料.代理费发票号">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">代理费付款日期：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-time" ms-duplex="@info.基本资料.代理费付款日期">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">代理费资助金额：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" onkeyup="onlyNum(this)"
                                       ms-duplex="@info.基本资料.代理资助金额">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">代理费办理资助日期：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-time" ms-duplex="@info.基本资料.代理办理资助日期">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">代理费到账日期：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-time" ms-duplex="@info.基本资料.代理费到账日期">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <h5 class="title"><span>申请费</span></h5>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">申请费是否减缓：</label>
                            <div class="col-sm-7">
                                <label class="radio-inline">
                                    <input type="radio" value="true" name="apply" ms-duplex="@info.基本资料.申请费是否减缓"> 是
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="false" name="apply" ms-duplex="@info.基本资料.申请费是否减缓"> 否
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">申请费金额：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" onkeyup="onlyNum(this)"
                                       ms-duplex="@info.基本资料.申请费金额">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">申请费收据号：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ms-duplex="@info.基本资料.申请费收据号">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">申请费支付日期：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-time" ms-duplex="@info.基本资料.申请费支付日期">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">申请费资助金额：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" onkeyup="onlyNum(this)"
                                       ms-duplex="@info.基本资料.申请费资助金额">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">申请费办理资助日期：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-time" ms-duplex="@info.基本资料.申请费办理资助日期">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">申请费到账日期：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-time" ms-duplex="@info.基本资料.申请费到账日期">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <h5 class="title"><span>申请审查费</span></h5>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">申请审查费是否延缓：</label>
                            <div class="col-sm-7">
                                <label class="radio-inline">
                                    <input type="radio" value="true" name="examine" ms-duplex="@info.基本资料.申请审查费是否延缓"> 是
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="false" name="examine" ms-duplex="@info.基本资料.申请审查费是否延缓"> 否
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">申请审查费用：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" onkeyup="onlyNum(this)"
                                       ms-duplex="@info.基本资料.申请审查费用">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">申请审查费收据编号：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ms-duplex="@info.基本资料.申请审查费收据编号">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">申请审查费付款日期：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-time" ms-duplex="@info.基本资料.申请审查费付款日期">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">申请审查费资助金额：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" onkeyup="onlyNum(this)"
                                       ms-duplex="@info.基本资料.申请审查费资助金额">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">申请审查费资助日期：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-time" ms-duplex="@info.基本资料.申请审查费资助日期">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">申请审查费到账日期：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-time" ms-duplex="@info.基本资料.申请审查费到账日期">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <h5 class="title"><span>授权费用</span></h5>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">授权费是否减缓：</label>
                            <div class="col-sm-7">
                                <label class="radio-inline">
                                    <input type="radio" value="true" name="authorization"
                                           ms-duplex="@info.基本资料.授权费是否减缓"> 是
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" value="false" name="authorization"
                                           ms-duplex="@info.基本资料.授权费是否减缓"> 否
                                </label>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">授权费用金额：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" onkeyup="onlyNum(this)"
                                       ms-duplex="@info.基本资料.授权费用金额">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">授权费收据号：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" ms-duplex="@info.基本资料.授权费收据号">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">授权费付款日期：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-time" ms-duplex="@info.基本资料.授权费付款日期">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">授权费资助金额：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control" onkeyup="onlyNum(this)"
                                       ms-duplex="@info.基本资料.授权费资助金额">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">授权费办理资助日期：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-time" ms-duplex="@info.基本资料.授权费办理资助日期">
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="col-sm-3 control-label">授权费到账日期：</label>
                            <div class="col-sm-7">
                                <input type="text" class="form-control form-time" ms-duplex="@info.基本资料.授权费到账日期">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div role="tabpanel" id="tab7" class="tab-pane">
                <div class="title-box">
                    <a ms-attr="{'href':@getUrl('/IMIS/views/成果管理/论文/选择纵向项目.html')}" class="btn btn-primary btn-add" data-toggle="modal"
                       data-target=".modal-choice" onclick="changeUrlChoice(this,'.modal-choice')">
                        <i class="icon iconfont icon-tianjia"></i> 添加纵向项目
                    </a>
                    <a ms-attr="{'href':@getUrl('/IMIS/views/成果管理/论文/选择横向项目.html')}" class="btn btn-success btn-add" data-toggle="modal"
                       data-target=".modal-choice" onclick="changeUrlChoice(this,'.modal-choice')">
                        <i class="icon iconfont icon-tianjia"></i> 添加横向项目
                    </a>
                </div>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th width="80">序号</th>
                            <th>项目名称</th>
                            <th>项目编号</th>
                            <th>项目类型</th>
                            <th width="100">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ms-for="($index,el) in @projectList">
                            <td>{{$index+1}}</td>
                            <td class="text-left">{{el.项目名称}}</td>
                            <td>{{el.项目编号}}</td>
                            <td>{{el.项目类型名称}}</td>
                            <td class="operation">
                                <ul>
                                    <li class="bs-tooltip btn-del" data-toggle="tooltip" data-placement="bottom"
                                        title="删除">
                                        <a href="javascript:;" ms-on-click="@projectList.remove(el)">
                                            <i class="icon iconfont icon-shanchu1"></i>
                                        </a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ms-if="@projectList.length==0||@projectList==null">
                    <p class="text-center"><img src="/IMIS/images/nothing-3.png"></p>
                </div>
            </div>
            <div role="tabpanel" id="tab8" class="tab-pane">
                <h4 class="text-center auditing-title">审核记录</h4>
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th width="80">序号</th>
                            <th>步骤名称</th>
                            <th>处理人</th>
                            <th>状态</th>
                            <th>执行时间</th>
                            <th>备注</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ms-for="($index,el) in @shenHe">
                            <td>{{$index+1}}</td>
                            <td>{{el.名称}}</td>
                            <td>{{el.姓名}}</td>
                            <td ms-class="getClass(el.状态说明)">{{el.状态说明}}</td>
                            <td>{{el.执行时间}}</td>
                            <td>{{el.备注}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ms-if="@shenHe.length==0||@shenHe==null">
                    <p class="text-center"><img src="/IMIS/images/nothing-3.png"></p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer submit-wrapper">
        <div class="form-group">
            <div class="submit-box text-center">
                <button type="button" class="btn btn-primary btn-submit" ms-on-click="@clickSubmit">提交</button>
                <button type="button" class="btn btn-success btn-submit" ms-on-click="@temporary">暂存</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" ms-on-click="@clickBtnReturn">取消
                </button>
                <div class="tip-box"></div>
            </div>
        </div>
    </div>
</div>
