<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>专利详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/IMIS/libs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/IMIS/libs/bootstrap/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="/IMIS/css/child_pages.css"/>
    <!--[if lt IE 9]>
    <script src="/IMIS/libs/html5shiv.js"></script>
    <script src="/IMIS/libs/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <script src="/IMIS/libs/jquery-1.11.1.min.js"></script>
    <script src="/IMIS/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/IMIS/libs/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/IMIS/libs/avalon.min.js"></script>

    <script src="/IMIS/js/main.js"></script>
    <script src="/IMIS/js/get_connect/code.js"></script>
    <script src="/IMIS/js/get_connect/connect_http.js"></script>
    <script src="/IMIS/js/get_connect/return_data.js"></script>
    <script src="/IMIS/js/成果管理/专利/专利详情.js"></script>

</head>
<body ms-controller="root" class="ms-controller" style="background: #fff;">
<div class="form-horizontal page-details">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">基本信息</a>
        </li>
        <li role="presentation">
            <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">发明人信息</a>
        </li>
        <li role="presentation">
            <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">相关文件</a>
        </li>
        <li role="presentation">
            <a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">相关费用</a>
        </li>
        <!--<li role="presentation">
            <a href="#tab5" aria-controls="tab5" role="tab" data-toggle="tab">专利年费</a>
        </li>
        <li role="presentation">
            <a href="#tab6" aria-controls="tab6" role="tab" data-toggle="tab">转化合同信息</a>
        </li>-->
        <li role="presentation">
            <a href="#tab7" aria-controls="tab7" role="tab" data-toggle="tab">相关项目</a>
        </li>
        <li role="presentation">
            <a href="#tab8" aria-controls="tab8" role="tab" data-toggle="tab">审核记录</a>
        </li>
    </ul>
    <div class="tab-content add-user">
        <div role="tabpanel" id="tab1" class="tab-pane active">
            <form class="form-horizontal content">
                <div class="col-sm-12">
                    <h5 class="title"><span>专利信息</span></h5>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">专利名称：</label>
                        <div class="col-sm-9">
                            <span>{{@model.专利详情.专利名称}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">专利国别：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.专利国别)}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">专利类型：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.专利类型}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">专利范围：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.专利范围}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">是否授权：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.是否授权?'是':'否'}}</span>
                        </div>
                    </div>
                    <!--<div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">发明人：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.年度}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">所属部门：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.年度}}</span>
                        </div>
                    </div>-->
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">代理机构：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.代理机构}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">年度：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.年度}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">专利权人：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.专利权人名称}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">申请号：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.申请号}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">申请日期：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.申请日期|date("yyyy-MM-dd")}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">公开号：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.公开号}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">公开日期：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.公开日期|date("yyyy-MM-dd")}}</span>
                        </div>
                    </div>
                   <!-- <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">授权人：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.年度}}</span>
                        </div>
                    </div>-->
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">专利号：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.专利号}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">国际专利主分类号：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.国际专利主分类号}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">证书号：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.证书号}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">授权公告日：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.授权公告日}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">是否职务发明：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.是否职务发明?'是':'否'}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">是否已生效：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.是否生效?'是':'否'}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">奖励金额：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.奖励金额|currency}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">超额费用：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.超额费用|currency}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">超额费用来源：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.超额费用来源}}</span>
                        </div>
                    </div>
                    <!--<div class="form-group col-sm-6">-->
                        <!--<label class="col-sm-3 control-label">超额费用来源课题：</label>-->
                        <!--<div class="col-sm-7">-->
                            <!--<span>{{@model.专利详情.一级学科}}</span>-->
                        <!--</div>-->
                    <!--</div>-->
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">发明人数：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.发明人数}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">专利摘要：</label>
                        <div class="col-sm-9">
                            <span>{{@model.专利详情.专利摘要}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">备注：</label>
                        <div class="col-sm-9">
                            <span>{{@model.专利详情.备注}}</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div role="tabpanel" id="tab2" class="tab-pane">
            <h4 class="text-center auditing-title">发明人信息</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th width="80">序号</th>
                        <th>发明人姓名</th>
                        <th>部门名称</th>
                        <th>发明人排序</th>
                        <th>工作量占比（%）</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ms-for="($index,el) in @model.成果作者">
                        <td>{{$index+1}}</td>
                        <td>{{el.姓名}}</td>
                        <td>{{el.部门名称}}</td>
                        <td>{{el.作者级别}}</td>
                        <td>{{el.工作量占比}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ms-if="@model.成果作者.length==0||@model.成果作者==null">
                <p class="text-center"><img src="/IMIS/images/nothing-3.png"></p>
            </div>
        </div>
        <div role="tabpanel" id="tab3" class="tab-pane">
            <form class="form-horizontal content fileUpload-box">
                <div class="col-sm-12">
                    <h5 class="title"><span>封相关文件</span></h5>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">相关文件：</label>
                        <div class="form-group col-sm-8 items">
                            <div class="item" ms-for="el in @files">
                                <a class="name" ms-attr="{'href':@el}" download="">{{@getHtmlDocName(el)}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div role="tabpanel" id="tab4" class="tab-pane">
            <form class="form-horizontal content">
                <div class="col-sm-12">
                    <h5 class="title"><span>代理费</span></h5>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">代理费金额：</label>
                        <div class="col-sm-9">
                            <span>{{@model.专利详情.代理费金额|currency}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">代理费发票号：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.代理费发票号)}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">代理费付款日期：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.代理费付款日期|date("yyyy-MM-dd")}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">代理费资助金额：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.代理资助金额|currency}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">代理费办理资助日期：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.代理办理资助日期|date("yyyy-MM-dd")}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">代理费到账日期：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.代理费到账日期|date("yyyy-MM-dd")}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h5 class="title"><span>申请费</span></h5>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">申请费是否减缓：</label>
                        <div class="col-sm-9">
                            <span>{{@model.专利详情.申请费是否减缓?'是':'否'}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">申请费金额：</label>
                        <div class="col-sm-9">
                            <span>{{@model.专利详情.申请费金额|currency}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">申请费收据号：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.申请费收据号)}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">申请费支付日期：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.申请费支付日期|date("yyyy-MM-dd")}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">申请费资助金额：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.申请费资助金额|currency}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">申请费办理资助日期：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.申请费办理资助日期|date("yyyy-MM-dd")}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">申请费到账日期：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.申请费到账日期|date("yyyy-MM-dd")}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h5 class="title"><span>申请审查费</span></h5>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">申请审查费是否延缓：</label>
                        <div class="col-sm-9">
                            <span>{{@model.专利详情.申请审查费是否延缓?'是':'否'}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">申请审查费用：</label>
                        <div class="col-sm-9">
                            <span>{{@model.专利详情.申请审查费用|currency}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">申请审查费收据编号：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.申请审查费收据编号)}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">申请审查费付款日期：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.申请审查费付款日期|date("yyyy-MM-dd")}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">申请审查费资助金额：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.申请审查费资助金额|currency}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">申请审查费资助日期：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.申请审查费资助日期|date("yyyy-MM-dd")}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">申请审查费到账日期：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.申请审查费到账日期|date("yyyy-MM-dd")}}</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h5 class="title"><span>授权费用</span></h5>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">授权费是否减缓：</label>
                        <div class="col-sm-9">
                            <span>{{@model.专利详情.授权费是否减缓?'是':'否'}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">授权费用金额：</label>
                        <div class="col-sm-9">
                            <span>{{@model.专利详情.授权费用金额|currency}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">授权费收据号：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.授权费收据号)}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">授权费付款日期：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.授权费付款日期|date("yyyy-MM-dd")}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">授权费资助金额：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.授权费资助金额|currency}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">授权费办理资助日期：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.授权费办理资助日期|date("yyyy-MM-dd")}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">授权费到账日期：</label>
                        <div class="col-sm-7">
                            <span>{{@model.专利详情.授权费到账日期|date("yyyy-MM-dd")}}</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div role="tabpanel" id="tab7" class="tab-pane">
            <h4 class="text-center auditing-title">相关项目</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th width="80">序号</th>
                        <th>项目名称</th>
                        <th>项目编号</th>
                        <th>项目类型名称</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ms-for="($index,el) in @model.成果项目">
                        <td>{{$index+1}}</td>
                        <td>{{el.项目名称}}</td>
                        <td>{{el.项目编号}}</td>
                        <td>{{el.项目类型名称}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ms-if="@model.成果项目.length==0||@model.成果项目==null">
                <p class="text-center"><img src="/IMIS/images/nothing-3.png"></p>
            </div>
        </div>
        <div role="tabpanel" id="tab8" class="tab-pane">
            <h4 class="text-center auditing-title">审核记录</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th width="80">序号</th>
                        <th>步骤名称</th>
                        <th>处理人</th>
                        <th>状态</th>
                        <th>执行时间</th>
                        <th>备注</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ms-for="($index,el) in @model.审核情况">
                        <td>{{$index+1}}</td>
                        <td>{{el.名称}}</td>
                        <td>{{el.姓名}}</td>
                        <td ms-class="getClass(el.状态说明)">{{el.状态说明}}</td>
                        <td>{{el.执行时间}}</td>
                        <td>{{el.备注}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ms-if="@model.审核情况.length==0||@model.审核情况==null">
                <p class="text-center"><img src="/IMIS/images/nothing-3.png"></p>
            </div>
        </div>
    </div>
</div>