<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>纵向项目立项详情</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/IMIS/libs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/IMIS/libs/bootstrap/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="/IMIS/css/child_pages.css"/>
    <!--[if lt IE 9]>
    <script src="/IMIS/libs/html5shiv.js"></script>
    <script src="/IMIS/libs/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <script src="/IMIS/libs/jquery-1.11.1.min.js"></script>
    <script src="/IMIS/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/IMIS/libs/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/IMIS/libs/avalon.min.js"></script>

    <script src="/IMIS/js/main.js"></script>
    <script src="/IMIS/js/get_connect/code.js"></script>
    <script src="/IMIS/js/get_connect/connect_http.js"></script>
    <script src="/IMIS/js/get_connect/return_data.js"></script>
    <script src="/IMIS/js/纵向项目/项目立项/纵向项目立项详情.js"></script>

</head>
<body ms-controller="root" class="ms-controller" style="background: #fff;">
<div class="form-horizontal page-details">
    <ul class="nav nav-tabs">
        <li role="presentation" class="active">
            <a href="#tab1" aria-controls="tab1" role="tab" data-toggle="tab">基本资料</a>
        </li>
        <li role="presentation">
            <a href="#tab2" aria-controls="tab2" role="tab" data-toggle="tab">参与人信息</a>
        </li>
        <li role="presentation">
            <a href="#tab3" aria-controls="tab3" role="tab" data-toggle="tab">相关文件</a>
        </li>
        <li role="presentation">
            <a href="#tab4" aria-controls="tab4" role="tab" data-toggle="tab">项目预算</a>
        </li>
        <li role="presentation">
            <a href="#tab5" aria-controls="tab5" role="tab" data-toggle="tab">项目计划与目标</a>
        </li>
        <li role="presentation">
            <a href="#tab6" aria-controls="tab6" role="tab" data-toggle="tab">项目预期成果</a>
        </li>
        <li role="presentation">
            <a href="#tab7" aria-controls="tab7" role="tab" data-toggle="tab">审核记录</a>
        </li>
    </ul>
    <div class="tab-content add-user">
        <div role="tabpanel" id="tab1" class="tab-pane active">
            <form class="form-horizontal content">
                <div class="col-sm-12">
                    <h5 class="title"><span>立项基本信息</span></h5>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">项目中文名称：</label>
                        <div class="col-sm-9">
                            <span>{{@model.立项基本信息.项目中文名称}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">项目英文名称：</label>
                        <div class="col-sm-9">
                            <span>{{@model.立项基本信息.姓名}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">项目编号：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.项目编号}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">项目分类：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.项目分类}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">成果归属部门：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.成果归属部门}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">负责人：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.负责人姓名}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">立项年度：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.立项年度}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">登记时间：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.登记日期|date("yyyy-MM-dd")}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">登记人：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.登记人姓名}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">批准时间：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.批准日期|date("yyyy-MM-dd")}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">经费卡号：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.经费卡号}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">项目等级：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.项目等级}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">计划开始时间：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.计划开始日期|date("yyyy-MM-dd")}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">计划完成时间：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.计划完成日期|date("yyyy-MM-dd")}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">学科门类：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.学科门类}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">学科类型：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.学科类型}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">研究类型：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.研究类型}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">项目类型：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.项目类型}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">项目级别：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.项目级别}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">项目来源单位：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.项目来源单位}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">项目类别：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.项目类别}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">档案编号：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.档案编号}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">财务简称：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.财务简称}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">亚类说明：</label>
                        <div class="col-sm-9">
                            <span>{{@model.立项基本信息.亚类说明}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">附注说明：</label>
                        <div class="col-sm-9">
                            <span>{{@model.立项基本信息.亚类说明}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">纵向项目合同类型：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.纵向项目合同类型}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">国民经济行业：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.国民经济行业}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">合作方式：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.合作方式}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">社会经济目标：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.社会经济目标}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">伦理批文编号：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.伦理批文编号}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="col-sm-3 control-label">伦理批文时间：</label>
                        <div class="col-sm-7">
                            <span>{{@model.立项基本信息.伦理批文时间|date("yyyy-MM-dd")}}</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">备注：</label>
                        <div class="col-sm-9">
                            <span>{{@model.立项基本信息.备注}}</span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div role="tabpanel" id="tab2" class="tab-pane">
            <h4 class="text-center auditing-title">参与人信息</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th width="80">序号</th>
                        <th>参与人姓名</th>
                        <th>部门名称</th>
                        <th>工作量占比（%）</th>
                        <th>备注</th>
                        <th>建立时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ms-for="($index,el) in @model.参与人信息">
                        <td>{{$index+1}}</td>
                        <td>{{el.姓名}}</td>
                        <td>{{el.部门名称}}</td>
                        <td>{{el.工作量占比}}</td>
                        <td>{{el.备注}}</td>
                        <td>{{el.建立时间}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ms-if="@model.参与人信息.length==0||@model.参与人信息==null">
                <p class="text-center"><img src="/IMIS/images/nothing-3.png"></p>
            </div>
        </div>
        <div role="tabpanel" id="tab3" class="tab-pane">
            <form class="form-horizontal content fileUpload-box">
                <div class="col-sm-12">
                    <h5 class="title"><span>伦理批文附件</span></h5>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">附件：</label>
                        <div class="form-group col-sm-8 items">
                            <div class="item" ms-for="el in @files">
                                <a class="name" ms-attr="{'href':@el}" download="">{{@getHtmlDocName(el)}}</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <h5 class="title"><span>立项文件</span></h5>
                    <div class="form-group col-sm-12">
                        <label class="col-sm-3 control-label">立项文件：</label>
                        <div class="form-group col-sm-8 items">
                            <div class="item" ms-for="el in @declareFiles">
                                <a class="name" ms-attr="{'href':@el}" download="">{{@getHtmlDocName(el)}}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div role="tabpanel" id="tab4" class="tab-pane">
            <form class="form-horizontal content ">
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">批准经费(元)：</label>
                    <div class="col-sm-7">
                        <span>{{@model.立项基本信息.批准经费|currency}}</span>
                    </div>
                </div>
                <div class="form-group col-sm-6">
                    <label class="col-sm-3 control-label">配套经费(元)：</label>
                    <div class="col-sm-7">
                        <span>{{@model.立项基本信息.配套经费|currency}}</span>
                    </div>
                </div>
            </form>
            <h4 class="text-center auditing-title">项目预算</h4>
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th width="60">序号</th>
                        <th>支出类型</th>
                        <th>预算科目</th>
                        <th>预算金额（批准经费：元）</th>
                        <th>预算金额（配套经费：元）</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ms-for="($index,el) in @model.财务信息">
                        <td>{{$index+1}}</td>
                        <td>{{el.项目支出类型}}</td>
                        <td>{{el.项目支出内容}}</td>
                        <td>{{el.批准经费}}</td>
                        <td>{{el.配套经费}}</td>
                    </tr>
                    <tr ms-if="@model.财务信息.length>0">
                        <th class="funds" colspan="3">经费预算合计</th>
                        <th class="funds">{{@fundsA}}</th>
                        <th class="funds">{{@fundsB}}</th>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ms-if="@model.财务信息.length==0||@model.财务信息==null">
                <p class="text-center"><img src="/IMIS/images/nothing-3.png"></p>
            </div>
        </div>
        <div role="tabpanel" id="tab5" class="tab-pane">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th width="60">序号</th>
                        <th>计划开始时间</th>
                        <th>计划结束时间</th>
                        <th>计划内容</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ms-for="($index,el) in @model.项目计划与目标">
                        <td>{{$index+1}}</td>
                        <td>{{el.开始日期|date("yyyy-MM-dd")}}</td>
                        <td>{{el.结束日期|date("yyyy-MM-dd")}}</td>
                        <td>{{el.计划内容}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ms-if="@model.项目计划与目标.length==0||@model.项目计划与目标==null">
                <p class="text-center"><img src="/IMIS/images/nothing-3.png"></p>
            </div>
        </div>
        <div role="tabpanel" id="tab6" class="tab-pane">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th width="60">序号</th>
                        <th>预期成果（目标）</th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr ms-for="($index,el) in @model.项目预期成果">
                        <td>{{$index+1}}</td>
                        <td>{{el.预期成果}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ms-if="@model.项目预期成果.length==0||@model.项目预期成果==null">
                <p class="text-center"><img src="/IMIS/images/nothing-3.png"></p>
            </div>
        </div>
        <div role="tabpanel" id="tab7" class="tab-pane">
            <div class="table-responsive">
                <table class="table table-bordered table-striped">
                    <thead>
                    <tr>
                        <th width="60">序号</th>
                        <th>步骤名称</th>
                        <th>处理人</th>
                        <th>处理人部门</th>
                        <th>状态</th>
                        <th>执行时间</th>
                        <th>备注</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ms-for="($index,el) in @model.审核记录">
                        <td>{{$index+1}}</td>
                        <td>{{el.名称}}</td>
                        <td>{{el.姓名}}</td>
                        <td>{{el.部门名称}}</td>
                        <td ms-class="getClass(el.状态说明)">{{el.状态说明}}</td>
                        <td>{{el.执行时间}}</td>
                        <td>{{el.备注}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ms-if="@model.审核记录.length==0||@model.审核记录==null">
                <p class="text-center"><img src="/IMIS/images/nothing-3.png"></p>
            </div>
        </div>
    </div>
</div>