<script src="/IMIS/js/纵向项目/项目立项/选择社会经济目标.js" type="text/javascript"></script>
<div class="modal-content ms-controller choiceRoot" ms-controller="choiceRoot">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true" ms-on-click="@clickBtnReturn">&times;</span></button>
        <h4 class="modal-title" id="NoPermissionModalLabel">选择社会经济目标</h4>
    </div>
    <div class="modal-body national-economy">
        <div class="col-sm-6 item">
            <ul>
                <li ms-for="($index,el)  in @one" ms-class="getClassA($index)"><a href="javascript:;" ms-on-click="@clickChoice($index,el),@changeA(el.编号,$index)"><span>{{el.值}}</span><i class="icon iconfont icon-xiayibu"></i></a></li>
            </ul>
            <p ms-if="@one.length==0" style="color: red">暂无数据</p>
        </div>
        <div class="col-sm-6 item">
            <ul>
                <li ms-for="($index,el) in @two" ms-class="getClassB($index)"><a href="javascript:;" ms-on-click="@clickChoice($index,el),@changeB($index)"><span>{{el.值}}</span></a></li>
            </ul>
            <p ms-if="@two.length==0" style="color: red">暂无数据</p>
        </div>
        <div class="text-right">
            <a href="javascript:;" class="btn btn-primary" ms-on-click="@confirm()">确定</a>
        </div>
    </div>
</div>
