<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>下载浏览器</title>
</head>
<body>
<p class="tip-text">对不起，你的IE浏览器版本太低！</p>
<p class="resolvent">请升级IE浏览器版本，或者选择以下浏览器下载安装。</p>
<div class="browser-box">
    <ul>
        <li>
            <a href="javascript:;">
                <img src="/images/Chrome.jpg"/><span>Chrome谷歌</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <img src="/images/360.jpg"/><span>360浏览器</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <img src="/images/firefox.jpg"/><span>firefox火狐</span>
            </a>
        </li>
        <li>
            <a href="javascript:;">
                <img src="/images/sogou.jpg"/><span>sogou浏览器</span>
            </a>
        </li>
    </ul>
</div>
</body>
</html>