<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
    <meta charset="UTF-8">
    <title>科研人员</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="/IMIS/libs/bootstrap/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="/IMIS/libs/bootstrap/css/bootstrap-datetimepicker.min.css"/>
    <link rel="stylesheet" href="/IMIS/libs/mCustomScrollbar/jquery.mCustomScrollbar.min.css"/>
    <link rel="stylesheet" href="/IMIS/libs/bootstrap/css/bootstrap-multiselect.css"/>
    <link rel="stylesheet" href="/IMIS/libs/ztree/metroStyle/metroStyle.css"/>
    <link rel="stylesheet" href="/IMIS/libs/iconfont/iconfont.css"/>
    <!--[if lt IE 9]>
    <script src="/IMIS/libs/html5shiv.js"></script>
    <script src="/IMIS/libs/bootstrap/js/respond.min.js"></script>
    <![endif]-->
    <script src="/IMIS/libs/jquery-1.11.1.min.js"></script>
    <script src="/IMIS/libs/jquery.placeholder.min.js"></script>
    <script src="/IMIS/libs/bootstrap/js/bootstrap.min.js"></script>
    <script src="/IMIS/libs/bootstrap/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/IMIS/libs/bootstrap/js/bootstrap-multiselect.js"></script>
    <script src="/IMIS/libs/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="/IMIS/libs/ztree/jquery.ztree.all.min.js"></script>
    <script src="/IMIS/libs/avalon.min.js"></script>
    <script src="/IMIS/js/pager.js"></script>
    <script src="/IMIS/js/main.js"></script>
    <script src="/IMIS/js/get_connect/code.js"></script>
    <script src="/IMIS/js/get_connect/connect_http.js"></script>
    <script src="/IMIS/js/get_connect/return_data.js"></script>

    <script>
        document.write(' <link rel="stylesheet" href="/IMIS/css/child_pages.css?time=' + new Date().getTime() + '"/>');
        document.write(' <script src="/IMIS/js/组织架构/科研人员.js?time=' + new Date().getTime() + '"></s' + 'cript>');

    </script>

</head>
<body ms-controller="root" class="ms-controller" onload="IFrameResize()">
<div class="page-keyan page-table page-common">
    <div class="main">
        <h4 class="title">科研人员列表</h4>
        <div class="screen-box">
            <div class="form-inline">
                <div class="form-group form-add-box">
                    <div class="form-group form-add-box">
                        <a class="btn btn-success btn-add" data-toggle="modal" data-target=".modal-add"
                           ms-attr="{'href':@getUrl('/IMIS/views/组织架构/分配科研人员.html')}" onclick="changeUrl(this)"
                           ms-on-click="@clickBtnAdd">
                            <i class="icon iconfont icon-tianjia"></i> 分配科研人员
                        </a>
                    </div>
                    <a class="btn btn-primary btn-add" data-toggle="modal" data-target=".modal-add"
                       ms-attr="{'href':@getUrl('添加用户.html')}" onclick="changeUrl(this)"
                       ms-on-click="@clickBtnAdd">
                        <i class="icon iconfont icon-tianjia"></i> 添加科研人员
                    </a>
                </div>
                <div class="form-group">
                    <a class="btn btn-danger batch-delete" href="javascript:;" ms-on-click="@batchDel">
                        <i class="icon iconfont icon-shanchu1"></i> 批量删除
                    </a>
                </div>
                <div class="form-group input-box">
                    <div class="input-group">
                        <div class="input-group-addon">搜索</div>
                        <input type="text" class="form-control number"
                               ms-duplex="@name" ms-keydown="@submit" placeholder="姓名或部门">
                    </div>
                </div>
                <div class="form-group department-box">
                    <div class="input-group">
                        <div class="input-group-addon">部门</div>
                        <input type="text" class="form-control department" placeholder="选择部门" ms-on-click="@showMenu()" readonly ms-attr="{'value':@department}">
                        <div id="menuContent" class="menuContent">
                            <ul class="ztree departmentTree" id="departmentTree"></ul>
                        </div>
                        <a class="btn-del" href="javascript:;" ms-on-click="@delInput"><i class="icon iconfont icon-shanchu"></i></a>
                    </div>
                </div>
                <div class="form-group input-box">
                    <div class="input-group">
                        <div class="input-group-addon">状态</div>
                        <select class="form-control user-statue" ms-duplex="@req.是否启用">
                            <option value="">全部</option>
                            <option value="true">正常</option>
                            <option value="false">已禁用</option>
                        </select>
                    </div>
                </div>
                <a class="btn btn-primary btn-search" href="javascript:;" ms-on-click="@search()">查询</a>
                <div class="total-box">
                    总计：<strong>{{@total}}</strong> 条
                    <button type="button" class="btn btn-success btn-refresh">刷新</button>
                </div>
            </div>
        </div>
        <div class="personnel-box">
            <div class="personnel-list">
                <div class="table-responsive">
                    <table class="table table-bordered table-striped">
                        <thead>
                        <tr>
                            <th class="checkbox-box">
                                <div class="checkbox">
                                    <label class="bs-tooltip" href="javascript:;" title="全选" data-toggle="tooltip"
                                           data-placement="bottom">
                                        <input class="select-all" type="checkbox" ms-duplex-checked="@allchecked"
                                               data-duplex-changed="@checkAll"/>
                                    </label>
                                </div>
                            </th>
                            <th width="60">序号</th>
                           <th>姓名</th>
                           <th>用户名（工号）</th>
                           <th>性别</th>
                           <th>手机</th>
                           <th>所属部门</th>
                            <th>学位</th>
                            <th>岗位名称</th>
                           <th>用户状态</th>
                            <th>专业技术级别</th>
                            <th>入职日期</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ms-for="($index,el) in @model" ms-if="@loaded && @model!= null && @model.length != 0">
                            <td class="checkbox-box">
                                <div class="checkbox">
                                    <label>
                                        <input type="checkbox" class="item-checkbox" ms-duplex-checked="el.checked"
                                               data-duplex-changed="@checkOne"/>
                                    </label>
                                </div>
                            </td>
                            <td>{{el.number}}</td>
                            <td>{{el.姓名}}</td>
                            <td>{{el.工号}}</td>
                            <td>{{el.性别}}</td>
                            <td>{{el.手机}}</td>
                            <td>{{el.部门名称}}</td>
                            <td>{{el.学位}}</td>
                            <td>{{el.岗位名称}}</td>
                            <td class="statue" ms-class="getStatusClass(el.是否启用)">
                                {{el.是否启用?'正常':'已禁用'}}
                            </td>
                            <td>{{el.专业技术级别}}</td>
                            <td>{{el.入职日期|date("yyyy-MM-dd")}}</td>
                            <td class="operation">
                                <li class="bs-tooltip btn-edit" data-toggle="tooltip" data-placement="bottom"
                                    title="编辑">
                                    <a data-toggle="modal" data-target=".modal-add"
                                       ms-attr="{'href':@getUrl('添加用户.html?userId='+@el.编号)}" onclick="changeUrl(this)" ms-on-click="@clickBtnEdit(el)">
                                        <i class="icon iconfont icon-bianji"></i>
                                    </a>
                                </li>
                                <li class="bs-tooltip btn-details" data-toggle="tooltip"
                                    data-placement="bottom" title="详情">
                                    <a ms-attr="{'href':@getUrl('/IMIS/views/科研办公/我的科研/科研详情.html?userId='+@el.编号)}" ms-on-click="@details">
                                        <i class="icon iconfont icon-16"></i>
                                    </a>
                                </li>
                                <li class="bs-tooltip btn-del" data-toggle="tooltip"
                                    data-placement="bottom"  title="删除">
                                    <a href="javascript:;" data-toggle="modal" data-target=".modal-del"
                                       onclick="changeUrl(this)" ms-on-click="@clickBtnDel(el)">
                                        <i class="icon iconfont icon-shanchu1"></i>
                                    </a>
                                </li>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div ms-if="@nothing">
                    <p class="text-center"><img src="/IMIS/images/nothing-3.png"></p>
                </div>
                <div class="page paging text-center">
                    <div class="pager paging"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade modal-add" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg"></div>
    </div>
    <div class="modal fade modal-choice" tabindex="-1" role="dialog"
         aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg"></div>
    </div>
    <div class="modal fade modal-del" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">提示</h4>
                </div>
                <div class="modal-body">
                    <p>您确定要删除此科研人员吗？</p>
                </div>
                <div class="modal-footer submit-wrapper">
                    <div class="submit-box text-center">
                        <button type="submit" class="btn btn-primary btn-submit"
                                ms-on-click="@userDel(@arr)">确定
                        </button>
                        <button type="button" class="btn btn-default" data-dismiss="modal"
                                ms-on-click="@clickBtnReturn">取消
                        </button>
                        <div class="tip-box"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>